@import "../../sass/variables";
@import "../../sass/mixins";

.task {
  @include set-background($secondaryColor);
  border-radius: 20px;
  min-height: 50px;
  padding: 2em 2.5em 2em 2.5em;
  margin-bottom: 30px;
  position: relative;
  text-align: left;

  .btns-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
    margin-left: 2em;
    float: right;
    @include customMaxBreakPoint($screen-sm) {
      margin: 1em 0 2.2em;
      width: auto;
      float:none;
      top: 2em;
    }
  }

  
}
