.task-enter {
  transform: rotateX(-90deg);
}
.task-enter-active {
  transform: rotateX(0); transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.task-exit {

}
.task-exit-active {
  transform: translateY(-100px); opacity: 0; transition: transform 0.5s cubic-bezier(0.55, 0, 1, 0.45), opacity 0.5s;   transform: scale(0.5);
}


@keyframes grow {
  from {transform: scale(0.7);}
  to {transform: scale(1);}
}