@import "./variables";
@import "./functions";

// Breakpoints
@mixin smMinBreakPoint {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin mdMinBreakPoint {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lgMinBreakPoint {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin customMinBreakPoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin customMaxBreakPoint($size) {
  @media (max-width: $size) {
    @content;
  }
}

// Set backgorund & content color
@mixin set-background($color) {
  background-color: $color;
  color: set-content-color($color);
  fill: set-content-color($color);
}

// Button size
@mixin get-size($height, $font) {
  $padding: floor(calc($font / 1.2));
  padding: 0 $padding;
  height: $height;
  font-size: $font;
}

//Button color
@mixin btn-style($style, $color) {
  .btn-#{$style} {
    @include set-background($color);
    border: 2px solid $color;
  }
  .border-#{$style} {
    color: $color;
    fill: $color;
    border: 2px solid $color;
    background: none;
  }
}

@mixin btn-size($name, $sizes) {
  .btn-#{$name} {
    @include get-size(map-get(map-get($btn-sizes, $name), size), map-get(map-get($btn-sizes, $name), font))
  }
}


@each $name, $color in $btn-colors {
  @include btn-style($name, map-get($btn-colors, $name));
}

@each $name, $sizes in $btn-sizes {
  @include btn-size($name, map-get($btn-sizes, $name))
}

