// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$primaryColor: #16161d;
$secondaryColor: #ffff;
$bgColor: #edeaea;
$gray: #9d9d9d;
$red: #df4837;

// Button sizes
$button-sm: 25px;
$button-md: 30px;
$button-lg: 40px;

// Button colors
$btn-colors: (
  "black": $primaryColor,
  "white": $secondaryColor,
);

// $large: (size: 50px, font: 18px);
// $medium: (size: 34px, font: 16px);
// $small: (size: 25px, font: 14px);

$btn-sizes: (
  "large": (size: 50px, font: 18px),
  "medium": (size: 34px, font: 16px),
  "small": (size: 25px, font: 14px)
);


