@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.primary {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  border: none;
  background: none;
  margin: auto;

  &:disabled {
    cursor: not-allowed;
  }

  & span:first-of-type {
    display: inline-flex;
    border-radius: 9999px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    align-items: center;
  }
}
