@import "../../sass/variables";
@import "../../sass/mixins";

form {
  display: flex;
  flex-direction: column;
  @include set-background($primaryColor);
  border-radius: 20px;
  max-width: 800px;
  width: 90%;
  min-height: 50px;
  padding: 2em 2.5em 2em 2.5em;
  margin-bottom: 30px;

  @include smMinBreakPoint {
    width: 90%;
  }

 
  .formButtons {
    display: inline-grid;
    grid-template-rows: 1fr;
    align-self: end;
    
    @include customMinBreakPoint(425px) {
      grid-template-columns: 1fr 1fr;
    }
    
    button {
      margin-top: 1.2em;
    }
  }
}

