@import '../../../sass/animations';

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-animation: turn-on-overflow 0.1s ease 1.5s both;
  animation: turn-on-overflow 0.1s ease 1.5s both;
  justify-items: center;
  padding: 20px 10px 20px 10px;

}