@import "../../../sass/_mixins";
@import "../../../sass/animations";

div {
  position: relative;
  text-align: center;

  & > img {
    width: 200px;
    @include smMinBreakPoint {
      width: auto;
    }
    animation: grow 200ms ease-in;
    animation-delay: .5s;
  }

  h1 {
    margin: 1em 0 1em;
    text-align: center;
  }
}
