.icon-btn {
  padding: 0;
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  transition: all 0.25s;
  text-align: center;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  &:disabled {
    cursor: not-allowed;
  }
  span {
    margin: 0;
  }
}
